
<div class="w-1/2 mx-auto">
    <h1 class="text-xl">#<%= @pull["number"] %> <%= @pull["title"] %></h1>
    <h3 class="text-md">Authored by <%= @pull["user"]["login"] %></h3>
    <h4><%= @repo_owner %>/<%= @repo_name %></h4>
</div>
