<div class="container flex flex-col justify-center items-center gap-4">
  <h1>Register</h1>

  <%= link(to: Routes.oauth_path(@conn, :request, "github")) do %>
    <%= btn(:primary) do %>
      Continue with Github <i class="fa-brands fa-github"></i>
    <% end %>
  <% end %>
</div>
