root {
    --purple: #706fd3;
    --swan: #f7f1e3;
    --stone: #aaa69d;
    --devil-blue: #227093;
    --desert: #ccae62;
    --pumpkin: #ff793f;
    --lucky-point: #2c2c54;
    --newt: #b33939;
    --green: #33d9b2;
    --mandarin: #ffb142; 
}